---
import CardPlay from "./CardPlay.jsx";

interface Props {
    id: number;
    cover: string;
    title: string;
    artist: string;
}

const { id, cover, title, artist } = Astro.props;
---

<div class="flex flex-col gap-3 relative playCard group w-60">
    <img src={cover} alt={title} class="rounded-2xl w-full cursor-pointer shadow-lg shadow-blue-950/40 object-cover">
    <div class="px-2">
        <h4 class="text-lg font-semibold truncate ... overflow-hidden cursor-pointer">
            {title}
        </h4>
        <p class="text-zinc-500 text-sm cursor-pointer truncate ... overflow-hidden">
            {artist}
        </p>
    </div>

    <CardPlay songId={id} client:visible />
</div>
  
